/*
Your Code should be here

an here how to write your CSS logo
*/

/*
.yourlogo-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/community_icons/your.svg") no-repeat center;
  mask: url("/icons/community_icons/your.svg") no-repeat center;
}
*/

.mininxd-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/community_icons/mininxd.svg") no-repeat center;
  mask: url("/icons/community_icons/mininxd.svg") no-repeat center;
}

/*tambahkan disini*/





































































/*Size*/
.ic-xxs {
  display: inline-block;
  width: 8px;
  height: 8px;
}
.ic-xs {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.ic-s {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.ic-m {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.ic-l {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.ic-xl {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ic-xxl {
  display: inline-block;
  width: 96px;
  height: 96px;
}

/*color*/
.ic-light {
  background: #f9f9f9;
}
.ic-dark {
  background: #333;
}
.ic-danger {
  background: #d22;
}
.ic-info {
  background: #45b;
}
.ic-warning {
  background: #ffc107;
}
.ic-success {
  background: #392;
}
