.vlc-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
  mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
}
.vlc-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
  mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
}
.vlc-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
  mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
}
.vlc-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
  mask: url("/icons/vlcmediaplayer.svg") no-repeat center;
}
.bootstrap-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/bootstrap.svg") no-repeat center;
  mask: url("/icons/bootstrap.svg") no-repeat center;
}
.rss-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/rss.svg") no-repeat center;
  mask: url("/icons/rss.svg") no-repeat center;
}
