/*list*/
.msi-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/msi.svg") no-repeat center;
  mask: url("/icons/msi.svg") no-repeat center;
}
.reddit-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/reddit.svg") no-repeat center;
  mask: url("/icons/reddit.svg") no-repeat center;
}
.mega-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/mega.svg") no-repeat center;
  mask: url("/icons/mega.svg") no-repeat center;
}
.meta-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/meta.svg") no-repeat center;
  mask: url("/icons/meta.svg") no-repeat center;
}
.affinitypublisher-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/affinitypublisher.svg") no-repeat center;
  mask: url("/icons/affinitypublisher.svg") no-repeat center;
}
.affinitydesigner-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/affinitydesigner.svg") no-repeat center;
  mask: url("/icons/affinitydesigner.svg") no-repeat center;
}
.affinityphoto-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/affinityphoto.svg") no-repeat center;
  mask: url("/icons/affinityphoto.svg") no-repeat center;
}
.affinity-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/affinity.svg") no-repeat center;
  mask: url("/icons/affinity.svg") no-repeat center;
}
.acer-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/acer.svg") no-repeat center;
  mask: url("/icons/acer.svg") no-repeat center;
}
.amazon-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/amazon.svg") no-repeat center;
  mask: url("/icons/amazon.svg") no-repeat center;
}
.airbnb-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/airbnb.svg") no-repeat center;
  mask: url("/icons/airbnb.svg") no-repeat center;
}
.fourchan-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/4chan.svg") no-repeat center;
  mask: url("/icons/4chan.svg") no-repeat center;
}
.threem-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/3m.svg") no-repeat center;
  mask: url("/icons/3m.svg") no-repeat center;
}
.lg-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/lg.svg") no-repeat center;
  mask: url("/icons/lg.svg") no-repeat center;
}
.airasia-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/airasia.svg") no-repeat center;
  mask: url("/icons/airasia.svg") no-repeat center;
}
.lubuntu-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/lubuntu.svg") no-repeat center;
  mask: url("/icons/lubuntu.svg") no-repeat center;
}
.linkedin-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/linkedin.svg") no-repeat center;
  mask: url("/icons/linkedin.svg") no-repeat center;
}
.litecoin-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/litecoin.svg") no-repeat center;
  mask: url("/icons/litecoin.svg") no-repeat center;
}
.liberapay-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/liberapay.svg") no-repeat center;
  mask: url("/icons/liberapay.svg") no-repeat center;
}
.lamborghini-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/lamborghini.svg") no-repeat center;
  mask: url("/icons/lamborghini.svg") no-repeat center;
}
.laravelnova-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/laravelnova.svg") no-repeat center;
  mask: url("/icons/laravelnova.svg") no-repeat center;
}
.laravel-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/laravel.svg") no-repeat center;
  mask: url("/icons/laravel.svg") no-repeat center;
}
.leagueoflegends-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/leagueoflegends.svg") no-repeat center;
  mask: url("/icons/leagueoflegends.svg") no-repeat center;
}
.daf-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/daf.svg") no-repeat center;
  mask: url("/icons/daf.svg") no-repeat center;
}
.dart-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/dart.svg") no-repeat center;
  mask: url("/icons/dart.svg") no-repeat center;
}
.deezer-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/deezer.svg") no-repeat center;
  mask: url("/icons/deezer.svg") no-repeat center;
}
.ducati-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/ducati.svg") no-repeat center;
  mask: url("/icons/ducati.svg") no-repeat center;
}
.shopee-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/shopee.svg") no-repeat center;
  mask: url("/icons/shopee.svg") no-repeat center;
}
.spacex-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/spacex.svg") no-repeat center;
  mask: url("/icons/spacex.svg") no-repeat center;
}
.spotify-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/spotify.svg") no-repeat center;
  mask: url("/icons/spotify.svg") no-repeat center;
}
.shopify-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/shopify.svg") no-repeat center;
  mask: url("/icons/shopify.svg") no-repeat center;
}
.bluetooth-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/bluetooth.svg") no-repeat center;
  mask: url("/icons/bluetooth.svg") no-repeat center;
}

.dotnet-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/dotnet.svg") no-repeat center;
  mask: url("/icons/dotnet.svg") no-repeat center;
}
.fblive-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/facebooklive.svg") no-repeat center;
  mask: url("/icons/facebooklive.svg") no-repeat center;
}
.vivaldi-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vivaldi.svg") no-repeat center;
  mask: url("/icons/vivaldi.svg") no-repeat center;
}
.redhat-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/redhat.svg") no-repeat center;
  mask: url("/icons/redhat.svg") no-repeat center;
}
.redhatopenshift-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/redhatopenshift.svg") no-repeat center;
  mask: url("/icons/redhatopenshift.svg") no-repeat center;
}
.filezilla-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/filezilla.svg") no-repeat center;
  mask: url("/icons/filezilla.svg") no-repeat center;
}
.rakuten-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/rakuten.svg") no-repeat center;
  mask: url("/icons/rakuten.svg") no-repeat center;
}
.keras-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/keras.svg") no-repeat center;
  mask: url("/icons/keras.svg") no-repeat center;
}
.oracle-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/oracle.svg") no-repeat center;
  mask: url("/icons/oracle.svg") no-repeat center;
}
.streamlit-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/streamlit.svg") no-repeat center;
  mask: url("/icons/streamlit.svg") no-repeat center;
}
.kofi-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/kofi.svg") no-repeat center;
  mask: url("/icons/kofi.svg") no-repeat center;
}
.c-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/c.svg") no-repeat center;
  mask: url("/icons/c.svg") no-repeat center;
}
.cplusplus-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/cplusplus.svg") no-repeat center;
  mask: url("/icons/cplusplus.svg") no-repeat center;
}
.canva-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/canva.svg") no-repeat center;
  mask: url("/icons/canva.svg") no-repeat center;
}
.cisco-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/cisco.svg") no-repeat center;
  mask: url("/icons/cisco.svg") no-repeat center;
}
.cpanel-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/cpanel.svg") no-repeat center;
  mask: url("/icons/cpanel.svg") no-repeat center;
}
.centos-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/centos.svg") no-repeat center;
  mask: url("/icons/centos.svg") no-repeat center;
}
.kalilinux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/kalilinux.svg") no-repeat center;
  mask: url("/icons/kalilinux.svg") no-repeat center;
}
.linux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/linux.svg") no-repeat center;
  mask: url("/icons/linux.svg") no-repeat center;
}
.linuxmint-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/linuxmint.svg") no-repeat center;
  mask: url("/icons/linuxmint.svg") no-repeat center;
}
.archlinux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/archlinux.svg") no-repeat center;
  mask: url("/icons/archlinux.svg") no-repeat center;
}

.rockylinux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/rockylinux.svg") no-repeat center;
  mask: url("/icons/rockylinux.svg") no-repeat center;
}
.artixlinux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/artixlinux.svg") no-repeat center;
  mask: url("/icons/artixlinux.svg") no-repeat center;
}
.alpinelinux-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/alpinelinux.svg") no-repeat center;
  mask: url("/icons/alpinelinux.svg") no-repeat center;
}
.tplink-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/tplink.svg") no-repeat center;
  mask: url("/icons/tplink.svg") no-repeat center;
}
.kotlin-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/kotlin.svg") no-repeat center;
  mask: url("/icons/kotlin.svg") no-repeat center;
}
.duolingo-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/duolingo.svg") no-repeat center;
  mask: url("/icons/duolingo.svg") no-repeat center;
}
.osu-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/osu.svg") no-repeat center;
  mask: url("/icons/osu.svg") no-repeat center;
}
.opensourcehardware-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/opensourcehardware.svg") no-repeat center;
  mask: url("/icons/opensourcehardware.svg") no-repeat center;
}
.ios-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/ios.svg") no-repeat center;
  mask: url("/icons/ios.svg") no-repeat center;
}
.harmonyos-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/harmonyos.svg") no-repeat center;
  mask: url("/icons/harmonyos.svg") no-repeat center;
}
.kaios-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/kaios.svg") no-repeat center;
  mask: url("/icons/kaios.svg") no-repeat center;
}
.macos-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/macos.svg") no-repeat center;
  mask: url("/icons/macos.svg") no-repeat center;
}
.microsoft-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/microsoft.svg") no-repeat center;
  mask: url("/icons/microsoft.svg") no-repeat center;
}
.microsoftedge-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/microsoftedge.svg") no-repeat center;
  mask: url("/icons/microsoftedge.svg") no-repeat center;
}
.microsoftbing-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/microsoftbing.svg") no-repeat center;
  mask: url("/icons/microsoftbing.svg") no-repeat center;
}
.bootstrap-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/bootstrap.svg") no-repeat center;
  mask: url("/icons/bootstrap.svg") no-repeat center;
}
.rss-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/rss.svg") no-repeat center;
  mask: url("/icons/rss.svg") no-repeat center;
}
.vlc-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vlc.svg") no-repeat center;
  mask: url("/icons/vlc.svg") no-repeat center;
}

.androidstudio-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/androidstudio.svg") no-repeat center;
  mask: url("/icons/androidstudio.svg") no-repeat center;
}
.fdroid-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/fdroid.svg") no-repeat center;
  mask: url("/icons/fdroid.svg") no-repeat center;
}
.android-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/android.svg") no-repeat center;
  mask: url("/icons/android.svg") no-repeat center;
}
.leica-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/leica.svg") no-repeat center;
  mask: url("/icons/leica.svg") no-repeat center;
}
.epicgames-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/epicgames.svg") no-repeat center;
  mask: url("/icons/epicgames.svg") no-repeat center;
}
.origin-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/origin.svg") no-repeat center;
  mask: url("/icons/origin.svg") no-repeat center;
}
.alienware-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/alienware.svg") no-repeat center;
  mask: url("/icons/alienware.svg") no-repeat center;
}
.nzxt-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/nzxt.svg") no-repeat center;
  mask: url("/icons/nzxt.svg") no-repeat center;
}
.waze-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/waze.svg") no-repeat center;
  mask: url("/icons/waze.svg") no-repeat center;
}
.razer-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/razer.svg") no-repeat center;
  mask: url("/icons/razer.svg") no-repeat center;
}
.suzuki-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/suzuki.svg") no-repeat center;
  mask: url("/icons/suzuki.svg") no-repeat center;
}
.rog-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/republicofgamers.svg") no-repeat center;
  mask: url("/icons/republicofgamers.svg") no-repeat center;
}

.tiktok-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/tiktok.svg") no-repeat center;
  mask: url("/icons/tiktok.svg") no-repeat center;
}
.shazam-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/shazam.svg") no-repeat center;
  mask: url("/icons/shazam.svg") no-repeat center;
}
.honda-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/honda.svg") no-repeat center;
  mask: url("/icons/honda.svg") no-repeat center;
}
.twitch-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/twitch.svg") no-repeat center;
  mask: url("/icons/twitch.svg") no-repeat center;
}
.toyota-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/toyota.svg") no-repeat center;
  mask: url("/icons/toyota.svg") no-repeat center;
}
.telegram-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/telegram.svg") no-repeat center;
  mask: url("/icons/telegram.svg") no-repeat center;
}
.ts-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/typescript.svg") no-repeat center;
  mask: url("/icons/typescript.svg") no-repeat center;
}
.dts-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/dts.svg") no-repeat center;
  mask: url("/icons/dts.svg") no-repeat center;
}
.ktm-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/ktm.svg") no-repeat center;
  mask: url("/icons/ktm.svg") no-repeat center;
}
.stadia-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/stadia.svg") no-repeat center;
  mask: url("/icons/stadia.svg") no-repeat center;
}
.dolby-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/dolby.svg") no-repeat center;
  mask: url("/icons/dolby.svg") no-repeat center;
}
.pihole-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/pihole.svg") no-repeat center;
  mask: url("/icons/pihole.svg") no-repeat center;
}
.godotengine-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/godotengine.svg") no-repeat center;
  mask: url("/icons/godotengine.svg") no-repeat center;
}
.adguard-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adguard.svg") no-repeat center;
  mask: url("/icons/adguard.svg") no-repeat center;
}
.adblockplus-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adblockplus.svg") no-repeat center;
  mask: url("/icons/adblockplus.svg") no-repeat center;
}
.adblock-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adblock.svg") no-repeat center;
  mask: url("/icons/adblock.svg") no-repeat center;
}
.adobexd-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobexd.svg") no-repeat center;
  mask: url("/icons/adobexd.svg") no-repeat center;
}
.premierepro-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobepremierepro.svg") no-repeat center;
  mask: url("/icons/adobepremierepro.svg") no-repeat center;
}
.photoshop-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobephotoshop.svg") no-repeat center;
  mask: url("/icons/adobephotoshop.svg") no-repeat center;
}
.lightroom-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobelightroom.svg") no-repeat center;
  mask: url("/icons/adobelightroom.svg") no-repeat center;
}
.indesign-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobeindesign.svg") no-repeat center;
  mask: url("/icons/adobeindesign.svg") no-repeat center;
}
.creativecloud-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobecreativecloud.svg") no-repeat center;
  mask: url("/icons/adobecreativecloud.svg") no-repeat center;
}
.illustrator-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobeillustrator.svg") no-repeat center;
  mask: url("/icons/adobeillustrator.svg") no-repeat center;
}
.adobefonts-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobefonts.svg") no-repeat center;
  mask: url("/icons/adobefonts.svg") no-repeat center;
}
.dreamweaver-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobedreamweaver.svg") no-repeat center;
  mask: url("/icons/adobedreamweaver.svg") no-repeat center;
}
.audition-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobeaudition.svg") no-repeat center;
  mask: url("/icons/adobeaudition.svg") no-repeat center;
}
.acrobat-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobeacrobatreader.svg") no-repeat center;
  mask: url("/icons/adobeacrobatreader.svg") no-repeat center;
}
.adobe-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/adobe.svg") no-repeat center;
  mask: url("/icons/adobe.svg") no-repeat center;
}
.discord-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/discord.svg") no-repeat center;
  mask: url("/icons/discord.svg") no-repeat center;
}
.roblox-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/roblox.svg") no-repeat center;
  mask: url("/icons/roblox.svg") no-repeat center;
}
.logitech-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/logitech.svg") no-repeat center;
  mask: url("/icons/logitech.svg") no-repeat center;
}
.wearos-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/wearos.svg") no-repeat center;
  mask: url("/icons/wearos.svg") no-repeat center;
}
.firefox-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/firefoxbrowser.svg") no-repeat center;
  mask: url("/icons/firefoxbrowser.svg") no-repeat center;
}
.manjaro-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/manjaro.svg") no-repeat center;
  mask: url("/icons/manjaro.svg") no-repeat center;
}
.tor-icon,
.torbrowser-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/torbrowser.svg") no-repeat center;
  mask: url("/icons/torbrowser.svg") no-repeat center;
}
.chrome-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/googlechrome.svg") no-repeat center;
  mask: url("/icons/googlechrome.svg") no-repeat center;
}
.google-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/google.svg") no-repeat center;
  mask: url("/icons/google.svg") no-repeat center;
}
.yt-icon,
.youtube-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/youtube.svg") no-repeat center;
  mask: url("/icons/youtube.svg") no-repeat center;
}
.ytmusic-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/youtubemusic.svg") no-repeat center;
  mask: url("/icons/youtubemusic.svg") no-repeat center;
}
.wechat-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/wechat.svg") no-repeat center;
  mask: url("/icons/wechat.svg") no-repeat center;
}
.apacheoffice-icon,
.apacheopenoffice-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/apacheopenoffice.svg") no-repeat center;
  mask: url("/icons/apacheopenoffice.svg") no-repeat center;
}
.microsoftoffice-icon,
.moffice-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/microsoftoffice.svg") no-repeat center;
  mask: url("/icons/microsoftoffice.svg") no-repeat center;
}
.libre-icon,
.libreoffice-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/libreoffice.svg") no-repeat center;
  mask: url("/icons/libreoffice.svg") no-repeat center;
}
.sqlite-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/sqlite.svg") no-repeat center;
  mask: url("/icons/sqlite.svg") no-repeat center;
}
.postgres-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/postgresql.svg") no-repeat center;
  mask: url("/icons/postgresql.svg") no-repeat center;
}
.mysql-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/mysql.svg") no-repeat center;
  mask: url("/icons/mysql.svg") no-repeat center;
}
.apache-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/apache.svg") no-repeat center;
  mask: url("/icons/apache.svg") no-repeat center;
}
.md-icon,
.markdown-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/markdown.svg") no-repeat center;
  mask: url("/icons/markdown.svg") no-repeat center;
}
.mariadb-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/mariadb.svg") no-repeat center;
  mask: url("/icons/mariadb.svg") no-repeat center;
}
.ps5-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstation5.svg") no-repeat center;
  mask: url("/icons/playstation5.svg") no-repeat center;
}
.ps4-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstation4.svg") no-repeat center;
  mask: url("/icons/playstation4.svg") no-repeat center;
}
.ps3-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstation3.svg") no-repeat center;
  mask: url("/icons/playstation3.svg") no-repeat center;
}
.ps2-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstation2.svg") no-repeat center;
  mask: url("/icons/playstation2.svg") no-repeat center;
}
.ps1-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstation.svg") no-repeat center;
  mask: url("/icons/playstation.svg") no-repeat center;
}
.psvita-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/playstationvita.svg") no-repeat center;
  mask: url("/icons/playstationvita.svg") no-repeat center;
}
.paypal-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/paypal.svg") no-repeat center;
  mask: url("/icons/paypal.svg") no-repeat center;
}
.googleplay-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/googleplay.svg") no-repeat center;
  mask: url("/icons/googleplay.svg") no-repeat center;
}
.gpay-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/googlepay.svg") no-repeat center;
  mask: url("/icons/googlepay.svg") no-repeat center;
}
.tailwind-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/tailwindcss.svg") no-repeat center;
  mask: url("/icons/tailwindcss.svg") no-repeat center;
}
.less-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/less.svg") no-repeat center;
  mask: url("/icons/less.svg") no-repeat center;
}
.sass-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/sass.svg") no-repeat center;
  mask: url("/icons/sass.svg") no-repeat center;
}
.messenger-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/messenger.svg") no-repeat center;
  mask: url("/icons/messenger.svg") no-repeat center;
}
.jquery-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/jquery.svg") no-repeat center;
  mask: url("/icons/jquery.svg") no-repeat center;
}
.github-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/github.svg") no-repeat center;
  mask: url("/icons/github.svg") no-repeat center;
}
.git-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/git.svg") no-repeat center;
  mask: url("/icons/git.svg") no-repeat center;
}
.gitlab-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/gitlab.svg") no-repeat center;
  mask: url("/icons/gitlab.svg") no-repeat center;
}
.env-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/dotenv.svg") no-repeat center;
  mask: url("/icons/dotenv.svg") no-repeat center;
}
.svg-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/svgdotjs.svg") no-repeat center;
  mask: url("/icons/svgdotjs.svg") no-repeat center;
}
.steam-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/steam.svg") no-repeat center;
  mask: url("/icons/steam.svg") no-repeat center;
}
.react-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/react.svg") no-repeat center;
  mask: url("/icons/react.svg") no-repeat center;
}
.nextjs-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/nextdotjs.svg") no-repeat center;
  mask: url("/icons/nextdotjs.svg") no-repeat center;
}
.nuxtjs-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/nuxtdotjs.svg") no-repeat center;
  mask: url("/icons/nuxtdotjs.svg") no-repeat center;
}
.line-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/line.svg") no-repeat center;
  mask: url("/icons/line.svg") no-repeat center;
}
.json-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/json.svg") no-repeat center;
  mask: url("/icons/json.svg") no-repeat center;
}
.whatsapp-icon,
.wa-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/whatsapp.svg") no-repeat center;
  mask: url("/icons/whatsapp.svg") no-repeat center;
}
.facebook-icon,
.fb-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/facebook.svg") no-repeat center;
  mask: url("/icons/facebook.svg") no-repeat center;
}

.twitterx-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/x.svg") no-repeat center;
  mask: url("/icons/x.svg") no-repeat center;
}
.twitter-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/twitter.svg") no-repeat center;
  mask: url("/icons/twitter.svg") no-repeat center;
}
.tsnode-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/tsnode.svg") no-repeat center;
  mask: url("/icons/tsnode.svg") no-repeat center;
}
.blender-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/blender.svg") no-repeat center;
  mask: url("/icons/blender.svg") no-repeat center;
}

.html-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/html5.svg") no-repeat center;
  mask: url("/icons/html5.svg") no-repeat center;
}
.css-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/css3.svg") no-repeat center;
  mask: url("/icons/css3.svg") no-repeat center;
}
.js-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/javascript.svg") no-repeat center;
  mask: url("/icons/javascript.svg") no-repeat center;
}
.bootstrap-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/bootstrap.svg") no-repeat center;
  mask: url("/icons/bootstrap.svg") no-repeat center;
}
.vue-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/vuedotjs.svg") no-repeat center;
  mask: url("/icons/vuedotjs.svg") no-repeat center;
}
.angular-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/angular.svg") no-repeat center;
  mask: url("/icons/angular.svg") no-repeat center;
}
.npm-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/angular.svg") no-repeat center;
  mask: url("/icons/angular.svg") no-repeat center;
}
.nodejs-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/nodedotjs.svg") no-repeat center;
  mask: url("/icons/nodedotjs.svg") no-repeat center;
}
.npm-icon {
  background-size: cover;
  background-color: white;
  -webkit-mask: url("/icons/npm.svg") no-repeat center;
  mask: url("/icons/npm.svg") no-repeat center;
}

/*Size*/
.ic-xxs {
  display: inline-block;
  width: 8px;
  height: 8px;
}
.ic-xs {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.ic-s {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.ic-m {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.ic-l {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.ic-xl {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ic-xxl {
  display: inline-block;
  width: 96px;
  height: 96px;
}

/*color*/
.ic-light {
  background: #f9f9f9;
}
.ic-dark {
  background: #333;
}
.ic-danger {
  background: #d22;
}
.ic-info {
  background: #45b;
}
.ic-warning {
  background: #ffc107;
}
.ic-success {
  background: #392;
}
