@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&&family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap");

body {
  margin-top: 2em;
}
h1 {
  font-family: "Roboto", Sans-Serif;
  font-weight: 700;
  line-height: 10px;
}
h3.slogan {
  font-family: "Roboto Condensed", Sans-Serif;
  font-weight: 300;
}
h2 {
  font-family: "Roboto", Sans-Serif;
  font-weight: 700;
}
h3.komen {
  font-weight: 700;
  padding: 10px;
  font-size: 12px;
  font-family: "Roboto Mono", Sans-Serif;
}
.komen:hover {
  color: #000;
  text-decoration: underline;
}
a {
  color: #222;
}
a:visited {
	color:#222;
}
a:hover {
  color: #000;
}
