.howto {
  padding: 10px;
}
.code {
  height: fit-content;
  width: 100%;
}

.swiper {
  height: fit-content;
}
.btn-docs {
  font-family: "Roboto Mono", Sans-Serif;
  font-weight: 700;
  padding: 10px;
  border: none;
  color: #000;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-style: italic;
}
code {
  background: #fff;
}
code:hover {
  text-decoration: underline;
}

p {
  line-height: 2px;
}
.pos-end {
  width: 99%;
  display: flex;
  justify-content: flex-end;
}
.btn-coba {
  font-family: "Roboto Mono", Monospace;
  margin: 3px;
  border: none;
  color: #000;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #222;
  font-size: 20px;
}
input {
  border: 1px solid #222;
  border-radius: 5px;
  font-size: 18px;
  padding: 4px;
  width: 99%;
  font-family: "Roboto Mono", Monospace;
}
input:focus {
  outline: 1px solid #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#total-icon {
  opacity: 0.5;
  height: fit-content;
  line-height: 1px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto condensed", Sans-Serif;
}
.comment {
  opacity: 0.5;
  font-style: oblique;
  font-size: 15px;
}
#acak,
.ic-l {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.ic-lg {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.clearfloat {
  clear: both;
}

@media (orientation: landscape) {
  .konten {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
  }
}
